@CHARSET "ISO-8859-1";
/* 
    TDP Proyecto Final - 2013
    Agra, Federico (94186)
    Loza, Carlos (94399)
*/
body
{
	background: url(fondo.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
	font: regular bold 30px arial;
	color: white;

}

header 
{
	background: url(titulo.png);
    background-size: cover;
    padding:75px 45px 70px 45px;  

}

table
{
	text-align: center;
	color: white;
}

h2
{
	color: #7d8686;
}

h3
{
	font-family:Verdana,Helvetica;
	font-size:15px;
	color: #7d8686;
	margin-top: 2px:
}

.cartelerah4
{
	background:url(barra.png);
	font-size:25px;
   -webkit-text-fill-color: white;
}

.cartelerah5
{
	background:url(barra.png);
	font-size:20px;
	-webkit-text-fill-color: white;
}

.celda
{
	background-repeat: no-repeat;
	background-size: cover;
	font-family:Verdana,Helvetica;
	font-size:15px;
	border: 2px solid white;
	width: 300px;
	height: 450px;
	
}

.BotonesAct:HOVER 
{
 	background: #004040;
	text-decoration: none;
  	background: transparent;
  	background-image: url(barra2osc.png);
}

.BotonesAct
{
	font-size:15px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
 	color:#80ffff;
 	background: transparent;
 	border: transparent;
 	width:500px;
 	height:50px;
 	margin-bottom: 5px;
 	background-image: url(barra2cla.png);
}

.BotonBuscar:HOVER 
{
 	background: #004040;
	text-decoration: none;
  	background: transparent;
  	background-image: url(barra2osc.png);
}

.BotonBuscar
{
	font-size:15px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
 	color:#80ffff;
 	background: transparent;
 	border: transparent;
 	width:500px;
 	height:50px;
 	margin-top: 20px;
 	background-image: url(barra2cla.png);
}

.botones
{
	margin-bottom: 40px;
}

.panelTitulo
{
	padding-top: 50px;
	padding-bottom: 10px;
    width: 600px;
    margin:0 auto;        
}

.portadaPelicula
{
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid white;
	width: 300px;
	height: 450px;
}

.infoPeli
{
	font-family:Verdana,Helvetica;
	font-size:12px;
	top: 400px;
	left: 400px;
	padding-left: 20px;
	width: 400px;
	overflow: auto;
	
}

.inisec
{
	position: absolute;
	right: 10px;
	top: 10px;
}

.botonI
{
	font-size:11px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
 	color:#80ffff;
 	background:#008080;
 	border-color:transparent;
 	width:100px;
 	height:28px;
 	position: absolute;
	right: 0px;
	top: 0px;
}

.usu
{
	width: 200px;
	height: 23px;
	background-color:#383636;
	border-color:transparent;
	color: #949090;
	position: absolute;
	right: 315px;
	top: 0px;
	font-family:Verdana,Helvetica;
	font-size:12px;
}

.pas
{
	width: 200px;
	height: 23px;
	background-color:#383636;
	border-color:transparent;
	color: #949090;
	position: absolute;
	right: 105px;
	top: 0px;
	font-family:Verdana,Helvetica;
	font-size:12px;
	
}

.linkPelicula
{
	font-family:Verdana,Helvetica;
	font-size:15px;
	color: white;
	text-decoration: none;
}

.linkInfo
{
	font-family:Verdana,Helvetica;
	font-size:12px;
	color: #ffffff;
}

.mensajeError
{
	font-family:Verdana,Helvetica;
	font-size:40px;
	font-style:italic;
	color: #aaffff;
}

.mensajeError2
{
	margin-top:10px;
	font-family:Verdana,Helvetica;
	font-size:16px;
	font-style:italic;
	color: #aaffff;
}

.selectPeli
{
	background-color:#383636;
	border-color:transparent;
	width: 350px;
	font-family:Verdana,Helvetica;
	font-size:12px;
	color: #bfdfdf;
}

.textEdit
{
	background-color:#383636;
	border-color:transparent;
	width: 400px;
	font-family:Verdana,Helvetica;
	font-size:12px;
	color: #bfdfdf;
}

.areaEdit
{
	background-color:#383636;
	border-color:transparent;
	font-family:Verdana,Helvetica;
	font-size:12px;
	color: #bfdfdf;
	width: 400px;
	height: 150px;

}

.titulosEditar
{
	margin-bottom: 50px;
}

.formEditar
{
	font-family:Verdana,Helvetica;
	font-size:15px;
	font-weight:bold;
	color: #7d8686;
}

.mensajeError
{
	font-family:Verdana,Helvetica;
	font-size:15px;
	font-weight:bold;
	color: #aaffff;
}